@property --main-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #007ACC;
}

.request-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-input {
  flex: 1;
  height: 100%;
  border: 0;
  padding: 0;
  border-radius: 0 5px 5px 0;
  text-indent: 0.5em;
}

.request-select {
  height: 100%;
  border: 0;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid var(--main-color);
}

.select-label {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
  margin-right: 1em;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.send-button {
  width: 8em;
  height: 100%;
  border-radius: 5px;
  border: 0;
  background-color: var(--main-color);
  color: white;
}
