@property --request-tab-active {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF9900;
}

@property --request-tab-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #d0c9bb;
}

@property --request-tab-color-active {
  syntax: "<color>";
  inherits: false;
  initial-value: #edede7;
}

.request-tab-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.request-tabs {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.request-tab {
  color: var(--request-tab-color);
  padding: 0.5em 0.5em;
  cursor: pointer;

  :hover {
    color: var(--request-tab-color-active);
  }
}

.request-tab--active {
  box-shadow: inset 0 -1px 0 var(--request-tab-active);
  color: var(--request-tab-color-active) !important;
  font-weight: bold;
}
