<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Detective</title>
    <link rel="stylesheet" type="text/css" id="componen-css" href="" />
  </head>
  <body>
    <div class="extension-container">
      <div class="header">
        <h1 class="title">API Detective</h1>
      </div>
      <div class="request-container">
        <div class="request-editor">
          <label for="request-type-select"></label>
          <select
            class="request-select"
            id="request-dropdown"
            name="request-type-select">
          </select>
          <input class="request-input" id="request-editor" type="text" />
          <button id="request-send">Send</button>
        </div>
      </div>
    </div>
  </body>

  <script type="module" id="detective-api">
    import { DetectiveAPI } from './detective-api.js';

    document.addEventListener('DOMContentLoaded', () => {
      const detective = new DetectiveAPI();

      const selectRequest = document.getElementById('request-dropdown');
      const inputUrl = document.getElementById('request-editor');
      const buttonSend = document.getElementById('request-send');
      buttonSend.onclick = () => {
        detective.applyRequest(inputUrl.value);
      };
      detective.fillRequestTypes(selectRequest);

      let request = detective.requestTypes[0];
      detective.getRequestType()
        .subscribe(type => {
          request = type;
          for (const option of selectRequest.children) {
            if (option.value === request) {
              option.selected = true;
            } else {
              option.selected = false;
            }
          }
        });
    });
  </script>
</html>
