<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Detective</title>
    <link rel="stylesheet" type="text/css" id="componen-css" href="" />
  </head>
  <body>
    <div class="header">
      <h1 class="title">API Detective</h1>
    </div>
    <div class="request-container">
      <div class="request-editor">
        <input class="request-input" id="request-editor" type="text" />
        <button>Send</button>
      </div>
    </div>


    <script type="module" id="detective-api"></script>

    <script type="module">
      import { DetectiveAPI } from './detective-api.js';

      document.addEventListener("DOMContentLoaded", () => {
        const detective = new DetectiveAPI();
        const editor = document.getElementById('request-editor');
        detective.getRequestType()
          .subscribe(type => {
            editor.value = type;
          });

        setTimeout(() => {
          detective.api.changeType('POST');
        }, 3000);
      });
    </script>
  </body>
</html>
